version: '3'
services:    
  zookeeper:
    image: 'bitnami/zookeeper:3.4.12'
    network_mode: "host"
    #ports: 
    #  - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'bitnami/kafka:2.0.0'
    network_mode: "host" 
    #ports:
    #  - '9092:9092'   
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ADVERTISED_HOST_NAME=localhost
      - KAFKA_ZOOKEEPER_CONNECT=localhost:2181
      - ALLOW_PLAINTEXT_LISTENER=yes 
    extra_hosts:
      - "linuxkit-025000000001:127.0.0.1"     
    depends_on:
      - zookeeper  
    #entrypoint: bash -c "sleep 10 && app-entrypoint.sh"  
  cassandra:
    image: 'bitnami/cassandra:3.11.3'
    network_mode: "host"      
  jupyter:
    image: 'jupyter/scipy-notebook' 
    network_mode: "host"
    #ports:
    #  - '8888:8888'
    environment:
      - JUPYTER_LAB_ENABLE=yes
    volumes: 
      - "/home/nosql/work:/home/jovyan/work"
    entrypoint: bash -c "start-notebook.sh --NotebookApp.token=''"  

  